<robot name="borinot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- macro includes -->
  <xacro:include
    filename="$(find hidro_robots)/robots/borinot/xacro/definition.urdf.xacro" />

  <xacro:include
    filename="$(find hidro_robots)/robots/flying_arm_2/xacro/definition.urdf.xacro" />

  <!-- arguments -->
  <xacro:arg name="simulation" default="true" />

  <!-- properties -->
  <xacro:property name="simulation" value="$(arg simulation)" />

  <xacro:borinot_platform
    simulation="${simulation}"
  />

  <xacro:flying_arm_2
    simulation="${simulation}"
    base_link_name="borinot__base_link"
  />

</robot>