<?xml version="1.0"?>
<model>
  <name>IRI Borinot with flying arm 2</name>
  <version>1.0</version>
  <sdf version='1.6'>borinot_flying_arm_2.sdf</sdf>

  <author>
   <name>Pep Martí Saumell</name>
   <email>jmarti@iri.upc.edu</email>
  </author>

  <description>
    This is a model of the research hexacopter IRI, which has been designed by Patrick Grosch at IRI.
  </description>
</model>
