<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="platform" params="platform_name mass cog_x cog_y cog_z i_xx i_yy i_zz mesh">

    <link name="${platform_name}__base_link">
      <inertial>
        <origin xyz="${cog_x} ${cog_y} ${cog_z}" rpy="0 0 0" />
        <mass value="${mass}" />
        <inertia ixx="${i_xx}" ixy="0.0" ixz="0.0" iyy="${i_yy}" iyz="0.0" izz="${i_zz}" />
      </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <box size="0.4 0.4 0.3" />
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh
            filename="${mesh}"
            scale="1 1 1" />
        </geometry>
        <material name="">
          <color rgba="0.8471 0.6078 0.3412 1" />
        </material>
      </visual>
    </link>
  </xacro:macro>

  <xacro:macro name="rotor"
    params="platform_name rotor_number parent_link x y z direction simulation">

    <xacro:property name="link_name" value="${platform_name}__rotor${rotor_number}" />
    <xacro:property name="joint_name" value="${platform_name}__j_rotor${rotor_number}" />
    <xacro:property name="direction_rotation" value="ccw" />
    <xacro:property name="joint_type" value="revolute" />


    <xacro:if value="${direction == 'cw'}">
      <xacro:property name="direction_rotation" value="cw" />
    </xacro:if>

    <xacro:unless value="${simulation}">
      <xacro:property name="joint_type" value="fixed" />
    </xacro:unless>

    <link name="${link_name}">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.005" />
        <inertia ixx="9.75e-07" ixy="0.0" ixz="0.0" iyy="0.000273104" iyz="0.0" izz="0.000274004" />
      </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <cylinder length="0.005" radius="0.070" />
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh
            filename="package://hidro_robots/robots/common/meshes/propeller_${direction_rotation}.dae"
            scale="0.1 0.1 0.1" />
        </geometry>
        <material name="">
          <color rgba="0.8471 0.6078 0.3412 1" />
        </material>
      </visual>
    </link>

    <joint name="${joint_name}" type="${joint_type}">
      <origin xyz="${x} ${y} ${z}" rpy="0.0 0 0.0" />
      <parent link="${parent_link}" />
      <child link="${link_name}" />
      <axis xyz="0 0 1" />
      <limit lower="-1e16" upper="1e16" effort="10" velocity="1e16" />
    </joint>

    <xacro:if value="${simulation}">
      <gazebo>
        <plugin name='${joint_name}_plugin' filename='libgazebo_motor_model.so'>
          <robotNamespace></robotNamespace>
          <jointName>${joint_name}</jointName>
          <linkName>${link_name}</linkName>
          <turningDirection>${direction_rotation}</turningDirection>
          <timeConstantUp>0.005</timeConstantUp>
          <timeConstantDown>0.005</timeConstantDown>
          <maxRotVelocity>2236</maxRotVelocity>
          <motorConstant>4.511e-06</motorConstant>
          <momentConstant>0.06</momentConstant>
          <commandSubTopic>/gazebo/command/motor_speed</commandSubTopic>
          <motorNumber>${rotor_number}</motorNumber>
          <rotorDragCoefficient>0.000175</rotorDragCoefficient>
          <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
          <motorSpeedPubTopic>/motor_speed/${rotor_number}</motorSpeedPubTopic>
          <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>